*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

:root{
    --cor-principal:#272727;
    --cor-secundaria: #0f0f0f;
}

body{
    background-color: var(--cor-secundaria);
}

/*header*/
header{
    height: 10vh;
    width: 100%;

    display: flex;

    justify-content: space-between;
}

.logo,.pesquisa,.icones{
    height: 100%;

    display: flex;
}

.logo{
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0 1em; */
}

.logo__hamburger{
    height: 30px;
    width: 30px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,1fr);

    padding: 8px 5px;
    gap: 30%;
    
}

.logo__hamburger div{
    background-color: white;
}

.logo > section{
    height: 100%;
    width: 70%;

    display: flex;
    align-items: center;
}

.logo__imagem{
    display: flex;
    justify-content: flex-end;
    height: 60%;
    width: 30%;
}

.logo__titulo{
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 600;
}

.pesquisa{
    width: 50%;

    align-items: center;
    justify-content: space-between;
}

.pesquisa__textbox{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 90%;

    gap: 10px;

    border-radius: 50px;
    border: 1px solid grey;
}

.pesquisa__textbox input{
    width: 80%;
    height: 100%;

    border: 0;
    border-radius: 50px 0  0 50px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    padding-left: 1em;

    background-color: var(--cor-secundaria);
}

.pesquisa__textbox input::placeholder{
    color: white;
}

.pesquisa__textbox div{
    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-principal);
    
    border-radius: 0 50px 50px 0;
}

.pesquisa__textbox div:nth-child(2){
    background-color: var(--cor-secundaria);
}

.pesquisa__audio{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-principal);
    border-radius: 50%;
}

.pesquisa__audio img, 
.pesquisa__textbox__imagem2 img,
.pesquisa__textbox__imagem1 img{
    height: 45%;

    object-fit: cover;
}

.icones{
    width: 15%;

    justify-content: space-evenly;
    align-items: center;

    padding: 15px;
}

.icones img{
    height: 30px;
    width: 30px;

    border-radius: 50%;
}

.icones img:nth-child(1){
    transform: rotate(180deg);
    border-radius: 0;
}
/*fim-header*/
/*painel*/
#painel{
    height: 100vh;
    width: 100%;

    display: flex;
}
/*fim-painel*/
/*aside*/
aside{
    width: 20%;
    max-height: 90vh;

    overflow-y: scroll;
}

.aside_button{
    height: 10vh;

    display: flex;
}

.button_icone{
    width: 20%;
    height: auto;
}

.button_texto{
    width: 80%;
    height: auto;
}
/*fim-aside*/
/*main*/
main{
    width: 80%;
    height: 100%;
}

nav{
    height: 10vh;

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 100%;
    gap: 10px;

    padding: 5px;
}

nav div{
    background-color: grey;

    border-radius: 10px;
}

#conteudos{
    padding: 10px;
}

/*Conteudo*/
.conteudo{
    width: 350px;
    height: 300px;

}
/*conteúdo superior*/
.conteudo__superior{
    height: 66%;
    
    background-color: chartreuse;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

}

.conteudo__superior__duracao{
    width: 15%;
    height: 15%;

}
/*fim-conteúdo superior*/
/*conteúdo inferior*/
/*fim-conteúdo inferior*/
.conteudo__inferior{
    height: 33%;

    display: flex;

}

.conteudo__inferior__imgCanal{
    width: 15%;

}

.conteudo__inferior__texto{
    width: 73%;

}

.conteudo__inferior__texto__titulo{
    height: 45%;

}

.conteudo__inferior__texto__canal{
    height: 55%;
}

.conteudo__inferior__btnOpcao{
    width: 12%;

}
/*fim-conteudo*/
/*fim-main*/
/*Media query*/
/*fim-media query*/