*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

body{
    background-color: #0f0f0f;
}

/*header*/
header{
    height: 10vh;
    width: 100%;

    display: flex;

    justify-content: space-between;
}

.logo,.pesquisa,.icones{
    height: 100%;
    width: 20%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo__hamburger{
    background-color: gray;

    height: 100%;
    width: 20%;

}

.logo > section{
    height: 100%;
    width: 80%;

    display: flex;
    align-items: center;
}

.logo__imagem{
    height: 100%;
    width: 30%;
    background-image: url("/Image/icon/youtube.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.logo__titulo{
    font-size: 2em;
    text-transform: uppercase;
}

.pesquisa{
    width: 50%;

    display: flex;
}

.pesquisa__textbox{
    height: 100%;
    width: 90%;

    margin: 0 auto;
    padding: 0 1em;
    gap: 10px;

    border-radius: 50px;
    border: 1px solid grey;
}

.pesquisa__audio{
    height: 100%;
    width: 8%;

    background-color: gray;
    border-radius: 50%;
}

.icones{

}
/*fim-header*/
/*painel*/
#painel{
    height: 100vh;
    width: 100%;

    display: flex;
}
/*fim-painel*/
/*aside*/
aside{
    width: 20%;
    height: 100%;
}

.aside_button{
    height: 10vh;

    display: flex;
}

.button_icone{
    width: 20%;
    height: auto;
}

.button_texto{
    width: 80%;
    height: auto;
}
/*fim-aside*/
/*main*/
main{
    width: 80%;
    height: 100%;
}

nav{
    height: 10vh;

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 100%;
    gap: 10px;

    padding: 5px;
}

nav div{
    background-color: grey;

    border-radius: 10px;
}

#conteudos{
    padding: 10px;
}

/*Conteudo*/
.conteudo{
    width: 350px;
    height: 300px;

}
/*conteúdo superior*/
.conteudo__superior{
    height: 66%;
    
    background-color: chartreuse;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

}

.conteudo__superior__duracao{
    width: 15%;
    height: 15%;

}
/*fim-conteúdo superior*/
/*conteúdo inferior*/
/*fim-conteúdo inferior*/
.conteudo__inferior{
    height: 33%;

    display: flex;

}

.conteudo__inferior__imgCanal{
    width: 15%;

}

.conteudo__inferior__texto{
    width: 73%;

}

.conteudo__inferior__texto__titulo{
    height: 45%;

}

.conteudo__inferior__texto__canal{
    height: 55%;
}

.conteudo__inferior__btnOpcao{
    width: 12%;

}
/*fim-conteudo*/
/*fim-main*/
/*Media query*/
/*fim-media query*/