*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
    font-family: "Roboto", "Arial", sans-serif;
    text-decoration: none;
}

:root{
    --cor-principal:#272727;
    --cor-secundaria: #0f0f0f;

    --circulo-tamanho1: 35px;
}

body{
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}

/*header*/
header{
    height: 10vh;
    width: 100%;

    display: flex;

    justify-content: space-between;

    position: fixed;
    
    background-color: var(--cor-secundaria);
}

.logo,.pesquisa,.icones{
    height: 100%;

    display: flex;
}

.logo{
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0 1em; */
}

.logo__hamburger{
    height: 30px;
    width: 30px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,1fr);

    padding: 8px 5px;
    gap: 30%;
    
}

.logo__hamburger div{
    background-color: white;
}

.logo > section{
    height: 100%;
    width: 70%;

    display: flex;
    align-items: center;
}

.logo__imagem{
    display: flex;
    justify-content: flex-end;
    height: 60%;
    width: 30%;
}

.logo__titulo{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.pesquisa{
    width: 50%;

    align-items: center;
    justify-content: space-between;
}

.pesquisa__textbox{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 90%;

    gap: 10px;

    border-radius: 50px;
    border: 1px solid grey;
}

.pesquisa__textbox input{
    width: 80%;
    height: 100%;

    border: 0;
    border-radius: 50px 0  0 50px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    padding-left: 1em;

    background-color: var(--cor-secundaria);
}

.pesquisa__textbox input::placeholder{
    color: white;
}

.pesquisa__textbox div{
    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-principal);
    
    border-radius: 0 50px 50px 0;
}

.pesquisa__textbox div:nth-child(2){
    background-color: var(--cor-secundaria);
}

.pesquisa__audio{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-principal);
    border-radius: 50%;
}

.pesquisa__audio img, 
.pesquisa__textbox__imagem2 img,
.pesquisa__textbox__imagem1 img{
    height: 45%;

    object-fit: cover;
}

.icones{
    width: 15%;

    justify-content: space-evenly;
    align-items: center;

    padding: 15px;
}

.icones img{
    height: 30px;
    width: 30px;

    border-radius: 50%;
}

.icones img:nth-child(1){
    transform: rotate(180deg);
    border-radius: 0;
}
/*fim-header*/
/*painel*/
#painel{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    margin-top: 10vh;
}
/*fim-painel*/
/*aside*/
aside{
    width: 20%;
    max-height: 100vh;

    overflow-y: scroll;

    position: fixed;
    /* top: 0; */
    left: 0;

}

.aside_button{
    height: 10vh;

    display: flex;

    gap: 10px;
    padding: 10px 15px;
}

.button_icone,.navegacao_icone{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: auto;
}

.button_icone img, .navegacao_icone img{
    height: 70%;
    object-fit: cover;
}

.button_texto, .navegacao_texto{
    display: flex;

    width: 80%;
    height: auto;

    align-items: center;
    font-size: 1em;
    font-weight: 700;
}
.navegacao_texto{
    width: 20%;
    margin-left: 10px;
}

.navegacao_icone{
    width: 80%;
    justify-content: flex-start;
}
.navegacao_icone img{
    height: 50%;
    transform: rotate(270deg);
}

.rodape1, .rodape1 section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
}

.rodape1 section a{
    font-size: 1rem;
    font-weight: 500;

    color: gray;
}
/*fim-aside*/
/*main*/
main{
    width: 80%;
    height: 100%;
}

nav{
    height: 10vh;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10px;

    padding: 5px;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;

    height: 100%;
    padding: 10px;

    border-radius: 10px;
}

#conteudos{
    padding: 10px;

    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(3,350px);

    gap: 20px;

    /* display: flex; */

}

/*Conteudo*/
.conteudo{
    width: 350px;
    height: 300px;

}
/*conteúdo superior*/
.conteudo__superior{
    height: 66%;
    
    /* background-color: chartreuse; */

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

    border-radius: 25px 25px 0 0;
}

.conteudo__superior__duracao{
    width: 15%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*fim-conteúdo superior*/
/*conteúdo inferior*/
/*fim-conteúdo inferior*/
.conteudo__inferior{
    height: 33%;

    display: flex;

    padding: 8px;
    gap: 8px;
}

.conteudo__inferior__imgCanal{
    width: var(--circulo-tamanho1);
    height: var(--circulo-tamanho1);

    border-radius: 50%;
}

.conteudo__inferior__texto{
    width: 85%;

}

.conteudo__inferior__texto__titulo{
    height: 55%;
    font-size: 1.2rem;
}

.conteudo__inferior__texto__canal{
    height: 45%;
    font-size: 0.8rem;
}

.conteudo__inferior__btnOpcao{
    width: 5%;
    height: 100%;

    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: repeat(3,5%);
    justify-content: center;

    gap: 3%;
}

.conteudo__inferior__btnOpcao div{
    background-color: white;
    border-radius: 50%;
}
/*fim-conteudo*/
/*fim-main*/
/*Media query*/
/*fim-media query*/